skel/docs/gopher.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:xcesc="http://www.cnio.es/scombio/xcesc/1.0"
	xmlns:mgmt="http://www.cnio.es/scombio/xcesc/1.0/xquery/systemManagement"
	xmlns:job="http://www.cnio.es/scombio/xcesc/1.0/xquery/jobManagement"
	targetNamespace="http://www.cnio.es/scombio/xcesc/1.0"
	elementFormDefault="qualified">

	<xsd:annotation>
		<xsd:documentation><![CDATA[XCESC XML Schema, made by José María Fernández González (C) 2008-2009]]></xsd:documentation>
	</xsd:annotation>
	
	<xsd:import namespace="http://www.cnio.es/scombio/xcesc/1.0/xquery/systemManagement" schemaLocation="systemManagement.xsd">
		<xsd:annotation>
			<xsd:documentation><![CDATA[System management configuration schema]]></xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	
	<xsd:import namespace="http://www.cnio.es/scombio/xcesc/1.0/xquery/jobManagement" schemaLocation="jobManagement.xsd">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Job management configuration schema]]></xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	
	<xsd:element name="reference">
		<xsd:annotation>
			<xsd:documentation><![CDATA[A reference to external information associated to the server]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:anyURI">
					<xsd:attribute name="description" type="xsd:string" use="required">
						<xsd:annotation>
							<xsd:documentation><![CDATA[A brief description about the pointed contents]]></xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="kind" use="required">
						<xsd:annotation>
							<xsd:documentation><![CDATA[The supposed type of the content]]></xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="site">
									<xsd:annotation>
										<xsd:documentation><![CDATA[Link to the main site]]></xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="link">
									<xsd:annotation>
										<xsd:documentation><![CDATA[Link to associated material (e.g. PubMed)]]></xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="logo">
									<xsd:annotation>
										<xsd:documentation><![CDATA[Link to a server logo]]></xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="image">
									<xsd:annotation>
										<xsd:documentation><![CDATA[Link to images, like screenshots]]></xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="server">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Each one of the servers registered in this XCESC instance]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element name="description" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation><![CDATA[A description about the server, maybe in HTML]]></xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="kind" type="xsd:string" minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation><![CDATA[Each one of the server kinds this server belongs to]]></xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="otherParams" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation><![CDATA[Other parameters set by the owner of the service, which tweaks the run]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence minOccurs="1" maxOccurs="1">
							<xsd:element name="param" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation><![CDATA[A parameter which tweaks the run. The content of the element is the value]]></xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string">
											<xsd:attribute name="name" type="xsd:string" use="required">
												<xsd:annotation>
													<xsd:documentation><![CDATA[The name of the parameter]]></xsd:documentation>
												</xsd:annotation>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="xcesc:reference" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation><![CDATA[A reference to external information associated to the server]]></xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="downTime" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation><![CDATA[An scheduled downTime. It can contain a reason about the downTime as its content]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="since" type="xsd:dateTime" use="required">
									<xsd:annotation>
										<xsd:documentation><![CDATA[When this downTime starts (inclusive)]]></xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
								<xsd:attribute name="until" type="xsd:dateTime" use="optional">
									<xsd:annotation>
										<xsd:documentation><![CDATA[When this downTime finished (exclusive). If it is not set, the downTime is *forever*]]></xsd:documentation>
									</xsd:annotation>
								</xsd:attribute>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The XCESC ID for a server]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="name" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The XCESC name for a server]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="managerId" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The ID of the manager of this server]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="uri" type="xsd:anyURI" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The invocation URI]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="type" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The server type]]></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="participant"/>
						<xsd:enumeration value="evaluator"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="managementData">
		<xsd:complexType>
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element name="users" minOccurs="1" maxOccurs="1">
					<xsd:annotation>
						<xsd:documentation><![CDATA[XCESC users are the servers managers]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence minOccurs="1" maxOccurs="1">
							<xsd:element name="user" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation><![CDATA[A XCESC user, with all the contact information]]></xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence minOccurs="1" maxOccurs="1">
										<xsd:element name="eMail" minOccurs="1" maxOccurs="unbounded" type="xsd:string">
											<xsd:annotation>
												<xsd:documentation><![CDATA[The e-mail address(es). They must be valid ones]]></xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element ref="xcesc:reference" minOccurs="0" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation><![CDATA[A reference to external information associated to the user]]></xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="id" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation><![CDATA[The unique id of the user in the system]]></xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="nickname" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation><![CDATA[The unique nickname of the user in the system]]></xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="status" use="required">
										<xsd:annotation>
											<xsd:documentation><![CDATA[The user status: enabled or disabled. When an user is disabled, all the servers owned by him/her are disabled]]></xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:enumeration value="disabled"/>
												<xsd:enumeration value="enabled"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:attribute>
									<xsd:attribute name="firstName" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation><![CDATA[The first name(s) of the user (e.g. José María)]]></xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="lastName" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation><![CDATA[The last name(s) of the user (e.g. Fernández González)]]></xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
									<xsd:attribute name="organization" type="xsd:string" use="required">
										<xsd:annotation>
											<xsd:documentation><![CDATA[The organization where the user is integrated]]></xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
					<xsd:key name="users_key">
						<xsd:annotation>
							<xsd:documentation><![CDATA[There cannot be two users in an XCESC instance with the same id]]></xsd:documentation>
						</xsd:annotation>
						<xsd:selector xpath="xcesc:user"/>
						<xsd:field xpath="@id"/>
					</xsd:key>
					<xsd:unique name="users_nickname_unique">
						<xsd:annotation>
							<xsd:documentation><![CDATA[There cannot be two users in an XCESC instance with the same nickname]]></xsd:documentation>
						</xsd:annotation>
						<xsd:selector xpath="xcesc:user"/>
						<xsd:field xpath="@nickname"/>
					</xsd:unique>
					<xsd:unique name="users_eMail_unique">
						<xsd:annotation>
							<xsd:documentation><![CDATA[An user cannot have two identical e-mail addresses]]></xsd:documentation>
						</xsd:annotation>
						<xsd:selector xpath="xcesc:user"/>
						<xsd:field xpath="xcesc:eMail"/>
					</xsd:unique>
				</xsd:element>
				
				<xsd:element name="servers" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence minOccurs="1" maxOccurs="1">
							<xsd:element ref="xcesc:server" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
					<xsd:key name="servers_key">
						<xsd:annotation>
							<xsd:documentation><![CDATA[There cannot be two servers with the same ID]]></xsd:documentation>
						</xsd:annotation>
						<xsd:selector xpath="xcesc:server"/>
						<xsd:field xpath="@id"/>
					</xsd:key>
					<xsd:unique name="servers_name_unique">
						<xsd:annotation>
							<xsd:documentation><![CDATA[There cannot be two servers with the same name]]></xsd:documentation>
						</xsd:annotation>
						<xsd:selector xpath="xcesc:server"/>
						<xsd:field xpath="@name"/>
					</xsd:unique>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:keyref refer="xcesc:users_key" name="servers_managerId_keyref_users">
			<xsd:selector xpath="xcesc:servers/xcesc:server"/>
			<xsd:field xpath="@id"/>
		</xsd:keyref>
	</xsd:element>
	
	<xsd:attributeGroup name="scoreAttributesGroup">
		<xsd:attribute name="score" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[The score given to the annotation]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="p-value" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[An optional, normalized, score between 0 and 1, given to the annotation]]></xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:double">
					<xsd:minInclusive value="0.0"/>
					<xsd:maxInclusive value="1.0"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>
	
	<xsd:element name="match">
		<xsd:annotation>
			<xsd:documentation><![CDATA[A match/result found by the server]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="scope" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation><![CDATA[The match scope, in its corresponding units.
As the scope can be sparse, more than one scope element can be specified]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="label" use="optional" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation><![CDATA[This attribute is useful for structured queries]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="from" use="required" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation><![CDATA[Where the scope begins, relative to the query.
It depends on the units system and it is always an inclusive limit.]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="to" use="optional" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation><![CDATA[Where the scope ends, relative to the query.
It depends on the units system and it is always an inclusive limit.]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="units" use="optional" type="xsd:string" default="residues">
							<xsd:annotation>
								<xsd:documentation><![CDATA[The units system, sometimes related to from and to attributes from scope elements, based on the query]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:choice>
					<xsd:element name="term" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation><![CDATA[An annotated element]]></xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:attribute name="namespace" type="xsd:string" use="required">
								<xsd:annotation>
									<xsd:documentation><![CDATA[The namespace of the annotation. For instance, GO]]></xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attribute name="id" type="xsd:string" use="required">
								<xsd:annotation>
									<xsd:documentation><![CDATA[The id of the annotation]]></xsd:documentation>
								</xsd:annotation>
							</xsd:attribute>
							<xsd:attributeGroup ref="xcesc:scoreAttributesGroup"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="result" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation><![CDATA[An structured result]]></xsd:documentation>
						</xsd:annotation>
						<xsd:complexType mixed="true">
							<xsd:sequence>
								<xsd:any processContents="lax" namespace="##any" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation><![CDATA[As it can contain any content, it is mixed]]></xsd:documentation>
									</xsd:annotation>
								</xsd:any>
							</xsd:sequence>
							<xsd:attributeGroup ref="xcesc:scoreAttributesGroup"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="domain" use="required" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The match domain is the kind of prediction/assessment done.
For instance, if a server is hybrid, in the sense it is able to generate predictions/assessments for homology modelling and
ab initio, then the origin of the match must be identified]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="answers">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The answers bundle sent by the servers. A server can send more than one bundle.]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="answer" minOccurs="1" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation><![CDATA[An answer about a target]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="xcesc:match" minOccurs="0" maxOccurs="unbounded"/>
						</xsd:sequence>
						<xsd:attribute name="targetId" use="required">
							<xsd:annotation>
								<xsd:documentation><![CDATA[The id of the answer]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="message" type="xsd:string" use="optional">
							<xsd:annotation>
								<xsd:documentation><![CDATA[An optional message, about the answer]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="query">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The query which is submitted to the servers]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType mixed="true">
			<xsd:sequence>
				<xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax"/>
			</xsd:sequence>
			<xsd:attribute name="queryId" type="xsd:positiveInteger" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The id of the query (typically, a number)]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:attributeGroup name="callbackAttributeGroup">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Shared callback attribute]]></xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="callback" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation><![CDATA[The callback address to send the answers to the queries from the server]]></xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:attributeGroup>
	
	<xsd:element name="queries">
		<xsd:annotation>
			<xsd:documentation><![CDATA[One or more queries sent to a server]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="xcesc:query" minOccurs="1" maxOccurs="unbounded"></xsd:element>
			</xsd:sequence>
			<xsd:attributeGroup ref="xcesc:callbackAttributeGroup"/>
		</xsd:complexType>
	</xsd:element>
	
	
	
	<xsd:element name="target">
		<xsd:complexType>
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element ref="xcesc:query"/>
				<!--							<xsd:element name="tag" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
					<xsd:documentation><![CDATA[Generic tags, containing the value as content]]></xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
					<xsd:simpleContent>
					<xsd:extension base="xsd:string">
					<xsd:attribute name="name" type="xsd:string" use="required">
					<xsd:annotation>
					<xsd:documentation><![CDATA[The key of this tag]]></xsd:documentation>
					</xsd:annotation>
					</xsd:attribute>
					</xsd:extension>
					</xsd:simpleContent>
					</xsd:complexType>
					</xsd:element>
				-->
				<xsd:element ref="xcesc:match" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="publicId" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The public id of the query (for instance, a PDB id)]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="description" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[A descriptive line for the query (for instance, from PDB or PDBPre)]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="origin" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The origin of the query, for instqance PDB or PDBPre]]></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="pdb"/>
						<xsd:enumeration value="pdbpre"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="level">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The initially estimated complexity score assigned to the query]]></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:double">
						<xsd:minInclusive value="0.0"/>
						<xsd:maxInclusive value="1.0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="toEvaluate">
		<xsd:annotation>
			<xsd:documentation><![CDATA[One or more queries sent to an evaluator]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="xcesc:target" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attributeGroup ref="xcesc:callbackAttributeGroup"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="experiment">
		<xsd:complexType>
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element ref="xcesc:target" minOccurs="1" maxOccurs="unbounded"/>
				<xsd:element name="participant" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence minOccurs="1" maxOccurs="1">
							<xsd:element ref="xcesc:server" minOccurs="1" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation><![CDATA[Server information is preserved here, so changes do not affect the calling values]]></xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:choice>
								<xsd:element name="job" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation><![CDATA[A job is a target sent to the server]]></xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element ref="xcesc:match" minOccurs="0" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation><![CDATA[A result from the job. It can contain from 0 to an undetermined number of matches.]]></xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
										<xsd:attribute name="targetId" type="xsd:positiveInteger" use="required">
											<xsd:annotation>
												<xsd:documentation><![CDATA[The Id of the target sent in this job]]></xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute name="stopStamp" type="xsd:dateTime" use="optional">
											<xsd:annotation>
												<xsd:documentation><![CDATA[The timestamp when a job from this XCESC instance has finished (either properly or with failure)]]></xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
										<xsd:attribute name="status" use="required">
											<xsd:annotation>
												<xsd:documentation><![CDATA[The status of the job at lastQueryStamp]]></xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="xsd:string">
													<xsd:enumeration value="queued">
														<xsd:annotation>
															<xsd:documentation><![CDATA[The job has not been sent yet]]></xsd:documentation>
														</xsd:annotation>
													</xsd:enumeration>
													<xsd:enumeration value="submitted">
														<xsd:annotation>
															<xsd:documentation><![CDATA[The job has been properly submitted, but no polling has been done yet]]></xsd:documentation>
														</xsd:annotation>
													</xsd:enumeration>
													<xsd:enumeration value="running">
														<xsd:annotation>
															<xsd:documentation><![CDATA[The job is still running]]></xsd:documentation>
														</xsd:annotation>
													</xsd:enumeration>
													<!--
													<xsd:enumeration value="killed">
														<xsd:annotation>
															<xsd:documentation><![CDATA[The job has been killed from the XCESC instance side]]></xsd:documentation>
														</xsd:annotation>
													</xsd:enumeration>
													-->
													<xsd:enumeration value="transienterror">
														<xsd:annotation>
															<xsd:documentation><![CDATA[A transient error happened (network is down, for instance)]]></xsd:documentation>
														</xsd:annotation>
													</xsd:enumeration>
													<xsd:enumeration value="error">
														<xsd:annotation>
															<xsd:documentation><![CDATA[There was an error on the server's side]]></xsd:documentation>
														</xsd:annotation>
													</xsd:enumeration>
													<xsd:enumeration value="finished">
														<xsd:annotation>
															<xsd:documentation><![CDATA[The job finished and the results could be fetched]]></xsd:documentation>
														</xsd:annotation>
													</xsd:enumeration>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
										<xsd:attribute name="lastMessage" type="xsd:string" use="optional">
											<xsd:annotation>
												<xsd:documentation><![CDATA[Last human-readable message fetched from server or generated by this XCESC instance, usually an error]]></xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="errorMessage">
									<xsd:annotation>
										<xsd:documentation><![CDATA[Last human-readable message fetched from server on submission, i.e., an error]]></xsd:documentation>
									</xsd:annotation>
									<xsd:complexType mixed="true">
										<xsd:sequence>
											<xsd:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="lax"/>
										</xsd:sequence>
										<xsd:attribute name="statusCode" type="xsd:positiveInteger" use="required">
											<xsd:annotation>
												<xsd:documentation><![CDATA[The HTTP status error code]]></xsd:documentation>
											</xsd:annotation>
										</xsd:attribute>
									</xsd:complexType>
								</xsd:element>
							</xsd:choice>
						</xsd:sequence>
						<xsd:attribute name="ticket" type="xsd:string" use="required">
							<xsd:annotation>
								<xsd:documentation><![CDATA[The unique job ticket]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="startStamp" type="xsd:dateTime" use="required">
							<xsd:annotation>
								<xsd:documentation><![CDATA[The timestamp of the job submission]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute name="lastMessage" type="xsd:string" use="optional">
							<xsd:annotation>
								<xsd:documentation><![CDATA[Last human-readable message fetched from server on submission, i.e., an error]]></xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="stamp" type="xsd:dateTime" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The experiment's timestamp (when it started)]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="baseStamp" type="xsd:date" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The previous experiment's timestamp (used to track changes)]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="test" type="xsd:boolean" use="optional" default="false">
				<xsd:annotation>
					<xsd:documentation><![CDATA[Is it a test experiment?]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
		<xsd:key name="target_key">
			<xsd:annotation>
				<xsd:documentation><![CDATA[There cannot be two targets with the same id in the same experiment]]></xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="xcesc:target"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<xsd:keyref refer="xcesc:target_key" name="job_targetid_referes_target">
			<xsd:selector xpath="xcesc:participant/xcesc:job"></xsd:selector>
			<xsd:field xpath="@targetId"></xsd:field>
		</xsd:keyref>
		<xsd:unique name="participant_server_unique">
			<xsd:selector xpath="xcesc:participant/xcesc:server"></xsd:selector>
			<xsd:field xpath="@id"></xsd:field>
		</xsd:unique>
	</xsd:element>
	
	<xsd:element name="experiments">
		<xsd:complexType>
			<xsd:sequence minOccurs="1" maxOccurs="1">
				<xsd:element ref="xcesc:experiment" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
		<xsd:key name="experiments_stamp">
			<xsd:annotation>
				<xsd:documentation><![CDATA[There cannot be two experiments with the same timestamp]]></xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="xcesc:experiment"></xsd:selector>
			<xsd:field xpath="@stamp"></xsd:field>
		</xsd:key>
		<xsd:keyref refer="xcesc:experiments_stamp" name="experiments_baseStamp_stamp">
			<xsd:annotation>
				<xsd:documentation><![CDATA[baseStamp points to a previous experiment]]></xsd:documentation>
			</xsd:annotation>
			<xsd:selector xpath="xcesc:experiment"></xsd:selector>
			<xsd:field xpath="@baseStamp"></xsd:field>
		</xsd:keyref>
	</xsd:element>
	
	<xsd:element name="lastRound">
		<xsd:annotation>
			<xsd:documentation><![CDATA[Last round document, needed to know where PDB and PDBPre filtered database files are lying]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="timeStamp" type="xsd:dateTime" use="required">
				<xsd:annotation>
					<xsd:documentation><![CDATA[The last update stamp, empty on server init!]]></xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="configuration">
		<xsd:annotation>
			<xsd:documentation><![CDATA[The configuration of a XCESC system, usually stored at /db/XCESC-config/configuration.xml]]></xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="mgmt:systemManagement"/>
				<xsd:element ref="job:jobManagement"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>